---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Your Name</title>
    <link rel="stylesheet" href="/src/styles/style.css" />


  </head>
  <body>
    <main>
      <h1>Your Name</h1>

      <p>
        I’m a developer interested in simple software and clean design.
      </p>
      <a href="/notes">Notes</a>

      <p>
        <a href="mailto:you@email.com">Email</a><br />
        <a href="https://github.com/yourusername">GitHub</a>
      </p>
    </main>
  </body>
</html>
